@charset "UTF-8";
@import url(font-awesome.min.css);
@import "https://fonts.googleapis.com/css?family=Raleway:100,300,600";

button {
    background-color: #5a5a5a;
    border: none;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    height: 2.85em;
    padding: 0 1.5em;
    text-align: center;
}


button:hover {
    background-color: #676767;
}

select {
    background: #90bde2;
    border: solid 1px #dbdbdb;
    padding: 0 1em;
    width: 100%;
    height: 2.75em;
}

#howmuchdoyoupayandwhichcurrency {
    flex: 1;
}

#howmanycigarettesinapack {
    flex: 1;
}

#howmanycigarettesdoyousmoke {
    flex: 1;
}

#howmanyyearshaveyoubeensmoking {
    flex: 1;
}

#result {
    flex: 1;
    margin-top: 10px;
    margin-left: -30px;
    ;
}

#selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

body {
    background-color: #e2b590;
}

input,
select,
textarea {
    color: #000000;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    font-size: 13px;
}